<% content_for :title, "Editing bill" %>

<div class="mt-4 container is-flex is-flex-direction-column is-align-items-center">
  <h1 class="title is-1">Editing bill</h1>

  <%= render "form", bill: @bill %>

  <br>

  <div class="mt-6">
    <%= link_to "Show this bill", @bill %>
    |
    <%= link_to "Back to bills", bills_path %>
  </div>
</div>
