<div class="container mt-4 mx-2>
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Bills" %>

  <div class="is-flex is-flex-direction-column is-align-items-center">
    <h1 class="title is-1">Bills</h1>
    <%= link_to "New bill", new_bill_path, class: "button is-info mt-4" %>
  </div>

  <div id="bills" class="grid mt-4">
    <% @bills.sort_by(&:date_number).each do |bill| %>
      <div class="cell bill">
        <%= render bill %>
        <p class="has-text-centered mt-2">
          <%= link_to "edit", edit_bill_path(bill), class: "has-text-warning" %>
        </p>
      </div>
    <% end %>
  </div>

</div>
